[tool.poetry]
name = "safe-ds-runner"
version = "0.3.0"
description = "Execute Safe-DS programs that were compiled to Python."
authors = ["Lars Reimann <mail@larsreimann.com>"]
license = "MIT"
readme = "docs/README.md"
repository = "https://github.com/Safe-DS/Runner"
documentation = "https://safe-ds-runner.readthedocs.io"
keywords = ["data-science", "machine-learning", "usability", "learnability"]
packages = [
    { include = "safeds_runner", from = "src" },
]

[tool.poetry.scripts]
safe-ds-runner = "safeds_runner.server.main:main"

[tool.poetry.dependencies]
python = "^3.11,<3.13"
safe-ds = ">=0.14,<0.17"
flask = "^3.0.0"
flask-cors = "^4.0.0"
flask-sock = "^0.7.0"
gevent = "^23.9.1"

[tool.poetry.dev-dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.4.3"
mkdocs-glightbox = "^0.3.4"
mkdocs-material = "^9.1.17"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
