[tool.poetry]
name = "safe-ds-runner"
version = "0.8.0"
description = "Execute Safe-DS programs that were compiled to Python."
authors = ["Lars Reimann <mail@larsreimann.com>"]
license = "MIT"
readme = "docs/README.md"
repository = "https://github.com/Safe-DS/Runner"
documentation = "https://safe-ds-runner.readthedocs.io"
keywords = ["data-science", "machine-learning", "usability", "learnability"]
packages = [
    { include = "safeds_runner", from = "src" },
]

[tool.poetry.scripts]
safe-ds-runner = "safeds_runner.main:main"

[tool.poetry.dependencies]
python = "^3.11,<3.13"
safe-ds = ">=0.19,<0.21"
hypercorn = "^0.16.0"
quart = "^0.19.4"

[tool.poetry.dev-dependencies]
pytest = "^8.1.1"
pytest-cov = "^5.0.0"
pytest-timeout = "^2.3.1"
pytest-asyncio = "^0.23.6"
simple-websocket = "^1.0.0"

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.4.3"
mkdocs-glightbox = "^0.3.4"
mkdocs-material = "^9.1.17"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
